* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    font-weight: 100;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border:hover {
    border: 2px solid black;
}

.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.nav-cat{
    background-color: plum;
    padding: 3px 15px;
    border-radius: 5px;
}
.main-nav-link:link,
.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 100;
    font-size: 1.8rem;
    transition: all 0.3s;
}

/* section hero */

.section-hero{
    padding: 4.8rem 0 9.6rem 0 ;
    margin-left: 50px;
}

.hero{
    max-width:130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary{
    font-size: 5rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

span{
    color: red;
}


.hero-description{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 40px;
    border-radius: 4px;
    margin-top: -50px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background-color: wheat;
    padding: 0px 0px 0px 40px;
    
}

.search-icon {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: red;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
}

.burger-img{
    width: 100%;
}